.item-detail{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    padding: 100px 0;
}

.item-detail .imgDetailContainer{
  width: 30%;
  height: 30%;
}

.image{
  height: 500px;
  width: 500px;
}
  
.text-detail-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.title-detail{
  margin: 20px;
  font-size: 3rem;
}

.text-detail{
  margin: 20px;
    font-style: italic;
    font-size: 1.3rem;
    color: rgb(218, 218, 218);
}