.itemlistcontainer{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.itemlistcontainer .itemlist{
    display: flex;
    flex-wrap: wrap;
}

.itemlistcontainer .item{
    width: 15%;
    margin: 3% 1% 3% 4%;
    padding: 2%;
    border: 2px solid rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.item .img-item{
    width: 100%;
    height: 100%;
    border-radius: 1%;
    background-color: rgb(39, 39, 39);
}

.item .detallestxt{
  color: lightpink;
}