.item-count{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .item-count .controls-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .controls-count button{
    width: 50px;
    height: 50px;
    background-color: rgb(42, 42, 42);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
  }
  .controls-count button:hover{
    border: 2px solid lightpink;
    cursor: pointer;
  }
  .controls-count p{
    font-weight: bold;
    font-size: 24px;
  }
  
  .button-add-count{
    padding: 10px 0;
    background-color: rgb(42, 42, 42);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
  }
  .button-add-count:hover{
    border: 2px solid lightpink;
    color: lightpink;
    cursor: pointer;
  }